/****************************
 * General
 */

h1, h2, h3, h4, h5, h6 {
  font-family: "anisette-petite-sc", sans-serif;
  margin-top: 1em;
  margin-bottom: 0em;
}

ul {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

body       { color: #444; }
a          { color: #44d; }
a:visited  { color: #64a; }

.inputtext { width: 40em; }

/****************************
 * Top level
 */
body {
  font-family: "rooney-web",sans-serif;
  font-size: 16px;

  background-image: url('/images/library-plain-1024.jpg');
  background-repeat:no-repeat;
  background-color: #321e19;
  background-size: 1024px;
  background-position: center top;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/****************************
 * Header / Title area
 */
header {
  padding: 0;
  text-align: center;
  color: #fffff8;
}
header a {
  color: #fffff8 !important;
  text-decoration: none;
}

hgroup {
  margin-top: 32px;
  margin-bottom: 20px;
}
hgroup h1, hgroup h2 {
  font-family: "rooney-web", serif;
  text-shadow: 2px 2px #311;
  padding-left: 1em;
  padding-right: 1em;
}
hgroup h1 {
  margin-top: 0;
  font-size: 38px;
}
.bull { display: inline; }
hgroup h2 {
  margin-top: 26px;
  font-size: 16px;
}
#years {
  font-family: serif;
  background-color: #a00;
  padding: 4px;
  border-radius: 1em;
}

/****************************
 * Navigation
 */
nav {
  background: linear-gradient(#997, #bfbf8b 0.5em) left repeat;
  font-family: "anisette-petite-sc",sans-serif;
  font-size: 110%;
  text-align: center;
  padding-left: 1.3em;
}
nav a, nav a:visited { color: #444; }
nav ul {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
}
nav li {
  display: inline-block;
  margin-right: 0.6em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
nav a {
  padding: 0.18em 0.45em;
  text-decoration: none;
}
nav a.on {
  color: white;
  text-shadow: -1px -1px grey;
}
nav a:hover {
  color: #ffa;
  text-shadow: -1px -1px grey;
}

/****************************
 * Content section
 */
section {
  background-color: #ffffe8;
  font-size: 96%;
}

#splash {
  width: 100%;
  margin: 0;
}

.blog_entry img {
  max-width: 100%;
}
.blog_entry time {
  color: grey;
  float: right;
  font-weight: normal;
}
.date {
  color: grey;
}

#map {
  max-width: 100%;
}

.photogrid img {
  height: 9.5em;
}

article nav ul {
  padding: 0;
  margin: 0;
}
article nav li {
  display: inline;
  margin-right: 1.2em;
}
article img {
  max-width: 100%;
}

textarea, input {
  background-color: white;
}

.hero {
  text-align: center;
  width: 100%;
}
.hero h2 {
  margin-bottom: 0.5em;
}
.hero img {
  width: 245px;
  padding: 0.3em;
}
.hero p {
  margin-right: auto;
  margin-left: auto;
  padding-right: 3em;
  padding-left: 3em;
  max-width: 40em;
}

.contenttable {
  display: table;
  border-spacing: 32px;
}
.contenttable article,
.contenttable aside {
  display: table-cell;
}
.contenttable article { width: 65%; }
.contenttable aside { width: 35%; }

#andersen {
  width: 400px;
}
.caption {
  text-align: center;
  margin-top: 0;
}

.clear {
  overflow: hidden;
  width: 100%;
  clear: both;
}
.rightpic {
  float: right;
  margin-left: 1em;
}
.rightpic img {
  border: 1px solid #000;
}
.leftpic {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.leftpic img {
  border: 1px solid #000;
}

.bodypic {
  border: 2px solid #552;
  margin-right: 1em;
  margin-left: 1em;
  width: 16em;
}
.postpic {
  width: 300px;
}

.featuredhome {
  box-shadow: 6px 6px 4px #b2b281;
  border: 1px solid #5e6113;
  display: inline-block;
  margin-right: 30px;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.featured {
  max-width: 360px;
}

.shirt {
  display: inline-block;
  margin: 1em;
  text-align: center;
width: 200px;
height: 200px;
}

.shirt img {
  width: 200px;
  height: 200px;
}
/****************************
 * Footer
 */
footer {
  background: #d8d8c5;
  font-size: 90%;
}
footer p {
  margin-top: 0;
}
footer article {
  width: 460px;
}
/****************************
 * Forms
 */
.formentry {
  display: block;
  margin-top: 0.22em;
  margin-right: 0.5em;
}

.formlabel {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 8em;
  margin-right: 0.5em;
}

.forminput {
  display: inline-block;
  text-align: left;
  width: 24em;
}

.forminput input {
  width: 20em;
}

.formsubmit {
  margin-top: 0.5em;
  margin-left: 8.5em;
}

.tform p,
.tform form {
  display: inline-block;
}

.tform p {
  vertical-align: top;
}

.tform form {
  margin-right: 20px;  
}

.tform input {
  margin-top: 5px;
}

/****************************
 * Tables
 */
.dataTable {
  margin-top: 1em;
  text-align: left;
  font-size: 90%;
  border: 1px solid #a59370;
}

.dataTable th { background-color: #ddc; }
.dataTable tr { background-color: #eed; }
.dataTable tr:nth-child(odd) { background-color: #eec; }
.dataTable td, .dataTable th { padding: 0.5em; }

.elementedit {
  background: #F8F8E0;
  padding-left: 1em;
  font-size: 0.8em;
}
