<div class='headerconainter'>
  <header>
    <hgroup>
      <a href='/'>
        <h1>
          <span class='bull'>&bull;</span>
          <span>St.&nbsp;Anthony&nbsp;Park Arts&nbsp;Festival</span>
          <span class='bull'>&bull;</span>
        </h1>
      </a>
      <h2>
        Supporting the St. Anthony Park Branch Library for
        <span id='years'>45</span>
        Years
      </h2>
    </hgroup>
  </header>
</div>
<nav>
  <ul>
    <li>
      <a href='/index.html' id='home'>Home</a>
    </li>
    <li>
      <a href='/info/index.html' id='info'>About</a>
    </li>
    <li>
      <a href='/info/awards2013.html' id='awards'>2013 Awards</a>
    </li>
    <li>
      <a href='/info/news.html' id='news'>News</a>
    </li>
    <li>
      <a href='/library/index.html' id='library'>The Library</a>
    </li>
    <li>
      <a href='/process/index.html' id='process'>Apply</a>
    </li>
  </ul>
</nav>
