<div class='headerconainter'>
  <header>
    <hgroup>
      <a href='/'>
        <h1>
          <span class='bull'>&bull;</span>
          <span>St.&nbsp;Anthony&nbsp;Park Arts&nbsp;Festival</span>
          <span class='bull'>&bull;</span>
        </h1>
      </a>
      <h2>
        Supporting the St. Anthony Park Branch Library for
        <span id='years'>45</span>
        Years
      </h2>
    </hgroup>
  </header>
</div>
<nav>
  <ul>
    {% for menu in site.data.topmenu %}
    <li>
      {% if menu.id == page.top_menu_id %}
      <a href="{{ menu.href }}" id="{{ menu.id }}" class="on">{{ menu.title }}</a>
      {% else %}
      <a href="{{ menu.href }}" id="{{ menu.id }}">{{ menu.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
