  ---
title: St. Anthony Park Arts Festival - Artists
layout: info
top_menu_id: artist
menu_title:
---
%h2 2012 Artists
%p
%script(type="text/javascript" src="//ajax.googleapis.com/ajax/static/modules/gviz/1.0/chart.js")
  {"dataSourceUrl":"//docs.google.com/spreadsheet/tq?key=0AgDmi2fYwdEAdF9tTjN5VUxTdHRUVG12SXl1NF9vakE&transpose=0&headers=1&range=A1%3AE79&gid=0&pub=1","options":{"titleTextStyle":{"fontSize":16},"vAxes":[{"useFormatFromData":true,"title":"Left vertical axis title","minValue":null,"viewWindow":{"min":null,"max":null},"maxValue":null},{"useFormatFromData":true,"minValue":null,"viewWindow":{"min":null,"max":null},"maxValue":null}],"sortColumn":1,"booleanRole":"certainty","title":"Chart title","animation":{"duration":0},"annotations":{"domain":{"style":"line"}},"hAxis":{"useFormatFromData":true,"title":"Horizontal axis title","minValue":null,"viewWindow":{"min":null,"max":null},"maxValue":null},"width":514,"height":592},"state":{},"view":{"columns":[0,{"label":"Last Name","properties":{"role":"annotation"},"sourceColumn":1},{"label":"Category","properties":{"role":"annotationText"},"sourceColumn":2},{"label":"City","properties":{"role":"annotationText"},"sourceColumn":3},{"label":"State","properties":{"role":"annotationText"},"sourceColumn":4}]},"chartType":"Table","chartName":"Chart 1"} 
