---
title: St. Anthony Park Arts Festival - News
layout: info
top_menu_id: news
menu_title: News
---
%h2 Festival News
%ul.nav
  - blog.articles[0...50].each do |article|
    %li
      %a{:href => article.url}= article.title
      %time= article.date.strftime('&mdash; %b %e %Y')
