---
title: St. Anthony Park Arts Festival - Artists Application
layout: process
top_menu_id: process
menu_title: Online Application
---
%h2 Online Artist Application
%script{:src => "http://entrythingy.s3.amazonaws.com/resources/entrythingy.js"}
%iframe#et_uploadtarget{:name => "et_uploadtarget", 
  :src => "", 
  :style => "width:0px;height:0px;border:0"}  
#et_apparea{:style => "text-align:left;"}
  %p
    %img{:src => "http://entrythingy.s3.amazonaws.com/images/loading.gif"}
      %a{:href => "http://www.entrythingy.com"} 
        Loading EntryThingy. Receive, manage and jury your calls for entries...
:javascript
  var sitecode="s1.c3RhbnRob255cGFya2FydHNmZXN0aXZhbC5vcmc=";
  entryThingy();
%a{:href => "/process/index.html"} Back to artist info.